#sketch{
    border: 4px red solid;
    display: grid;
    width: 960px;
    height: 960px;
  }
.square{
    margin: 0;
    border: 1px gray solid;
    background :white;
    color : black;
    width: auto;
    height: auto;
}